@font-face {
    font-family: Roboto;
    src: url(RobotoCondensed-Regular.ttf);
}


body{
    background-image:url(carrusel.programacion/odette.jpg) ;
    background-color:lavender;
    font-family: Roboto;
    margin: 5% 10% 5% 10%;
}
